main{
  min-height: 80vh;
}
.rating span{
  margin: 0.1rem;
}
h3{
  padding: 1rem 0;
}
.ratingText{
  display: block;
}
h1{
  font-size: 1.8rem;
  padding: 0.5rem 0;
}
h2{
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .product-page-grid-cont{
    display: grid;
    grid-template-areas:
    "section1 section2"
    "section1 section3";
  }

  .product-page-section{
    min-width: 350px;
  }

  .product-page-section:nth-child(1){
    grid-area: section1;
  }

  .product-page-section:nth-child(2){
    grid-area: section2;
  }
  .product-page-section:nth-child(3){
     margin: 20px 0 0 50%;
    grid-area: section2;
  }
}

/* .carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  height: 20rem;
}

.carousel-caption{
  position: absolute;
  top: 0;
}

.carousel img{
  max-height: 500px;
  margin: 0 auto;
  padding: 0 auto;
}

.carousel a{
  margin: 0 auto;
}

@media screen and (min-width: 469px){
  .carousel-caption{
    position: absolute;
    top: 0;
  }
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex;
    height: 25rem;
  }
} */
.carousel-caption h2{
  font-size:20px;
  background-color: white;
  opacity: 0.5;
}

.carousel img{
  margin: 0 auto;
  padding: 0 auto;
}
@media screen and (max-width: 468px){
.carousel-caption{
  position: absolute;
  top: 0;
}
  .carousel-caption{
    position: absolute;
    top: 0;
  }
  .carousel h2{
    font-size: 10px;
  }
}