main{
  min-height: 80vh;
}
.rating span{
  margin: 0.1rem;
}
h3{
  padding: 1rem 0;
}
.ratingText{
  display: block;
}
h1{
  font-size: 1.8rem;
  padding: 0.5rem 0;
}
h2{
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .product-page-grid-cont{
    display: grid;
    grid-template-areas:
    "section1 section2"
    "section1 section3";
  }

  .product-page-section{
    min-width: 350px;
  }

  .product-page-section:nth-child(1){
    grid-area: section1;
  }

  .product-page-section:nth-child(2){
    grid-area: section2;
  }
  .product-page-section:nth-child(3){
     margin: 20px 0 0 50%;
    grid-area: section2;
  }
}

/* .carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  height: 20rem;
}

.carousel-caption{
  position: absolute;
  top: 0;
}

.carousel img{
  max-height: 500px;
  margin: 0 auto;
  padding: 0 auto;
}

.carousel a{
  margin: 0 auto;
}

@media screen and (min-width: 469px){
  .carousel-caption{
    position: absolute;
    top: 0;
  }
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex;
    height: 25rem;
  }
} */
.carousel-caption h2{
  font-size:20px;
  background-color: white;
  opacity: 0.5;
}

.carousel img{
  margin: 0 auto;
  padding: 0 auto;
}
@media screen and (max-width: 468px){
.carousel-caption{
  position: absolute;
  top: 0;
}
  .carousel-caption{
    position: absolute;
    top: 0;
  }
  .carousel h2{
    font-size: 10px;
  }
}

.Brickplane {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.Brickspinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.Brickspinner .Brect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.Brickspinner .Brect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.Brickspinner .Brect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.Brickspinner .Brect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.spinnerplane {
  width: 100px;
  height: 100px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}